<script xmlns="http://www.w3.org/1999/html">

globalEditorContent = '';

function toggleAddDiv()
{
    $("#add_div").toggle();
}

function toggleComments(div)
{
    $(div).toggle();
}

function removeEntry(entry_id)
{
    $('#entry' + entry_id).remove();

    $.ajax({
        type: "POST",
        url: '/admin/remove_entry',
        data: {entry_id: entry_id}
    });
}

function removeComment(entry_id, comment_id)
{
    $('#comment' + comment_id).remove();

    $.ajax({
        type: "POST",
        url: '/admin/remove_comment',
        data: {entry_id: entry_id, comment_id: comment_id}
    });
}

function showEdit(entry_id)
{
    globalEditorContent = tinymce.get('hidden_content_textarea' + entry_id).getContent();

    $('#shown_content' + entry_id).hide()
    $('#hidden_content' + entry_id).show()
}

function cancelEdit(entry_id)
{
    $('#shown_content' + entry_id).show()
    $('#hidden_content' + entry_id).hide()

    tinymce.get('hidden_content_textarea' + entry_id).setContent(globalEditorContent);

}

function saveEdit(entry_id)
{
    content = tinymce.get('hidden_content_textarea' + entry_id).getContent();
    $.ajax({
        type: "POST",
        url: '/admin/update',
        data: {entry_id: entry_id, content: content}
    });

    //console.log();

    $('#shown_content' + entry_id).html(tinymce.get('hidden_content_textarea' + entry_id).getContent());

    globalEditorContent = tinymce.get('hidden_content_textarea' + entry_id).getContent();

    $('#shown_content' + entry_id).show()
    $('#hidden_content' + entry_id).hide()
}

function add_save()
{
    $.ajax({
        type: "POST",
        url: '/admin/add',
        data: {title: $("#add_title").val(), content: globalEditorContent = tinymce.get('add_content').getContent()}
    });

    $.ajax({
        url: "",
        context: document.body,
        success: function(s,x){
            $(this).html(s);
        }
    });
}

function add_cancel()
{
    $("#add_title").val('');
    globalEditorContent = tinymce.get('add_content').setContent('');
    $("#add_div").hide();

}


$(function()
{
    $(".comments").hide();
    $("#add_div").hide();
})
</script>
<style>
.comment
{
    margin-bottom: -15px;
}
</style>
<div>
    <h1 onclick="toggleAddDiv()">Add new article (Show/Hide)</h1>
    <div id='add_div'>
        <table>
            <tr>
                <td>
                    Title:
                </td>
                <td>
                    <input type='text' name='title' id='add_title'/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Content:
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id='add_content'></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input type='button' value='Save' onclick="add_save()"/>
                </td>
                <td>
                    <input type='button' value='Cancel' onclick="add_cancel();"/>
                </td>
            </tr>
        </table>
    </div>
    {loop="list"}
        <div id='entry{$value.id}'>
            <p>
                <h1>
                    <span onclick="removeEntry({$value.id}); return false;">
                        <img src='/images/delete.png' style='width: 12px; vertical-align: baseline;' >
                    </span>
                    / {$value.title} / {function="date('l d F Y G:i', strtotime($value.created_at))"}
                </h1>
            </p>
            <div>
                <div id='shown_content{$value.id}'>
                    {function="substr($value.content, 0, 300)"} ... <a href='#'></a>
                </div>
                <strong onclick="showEdit({$value.id}); return false;">Edit</strong>
                <div id='hidden_content{$value.id}' style='display: none;'>
                    <textarea id='hidden_content_textarea{$value.id}'>{$value.content}</textarea>
                    <p>
                        <input type='button' value='Save' onclick='saveEdit({$value.id}); return false;'/>
                        <input type='button' value='Cancel' onclick='cancelEdit({$value.id}); return false;'/>
                    </p>
                </div>
                <h2 onclick="toggleComments('#comments{$value.id}')">
                    {if condition="count($value.comments) > 0"}
                        Comments ({function="count($value.comments)"})(Show/Hide)
                    {else}
                        No comments
                    {/if}
                </h2>
                <div id='comments{$value.id}' class="comments" style='margin-left: 15px;'>
                    {loop="$value.comments"}
                        <div id='comment{$value->id}'>
                            <p class='comment'>
                                <a href='' onclick="removeComment({$value->entry_id}, {$value->id}); return false;">
                                    <img src='/images/delete.png' style='width: 10px; vertical-align: baseline;'>
                                </a>
                                / {$value->author} / {$value->title} / {function="date('l d F Y G:i', strtotime($value->created_at))"}
                            </p>
                            <div>
                                <p>{$value->content}</p>
                            </div>
                        </div>
                    {/loop}
                </div>
            </div>
        </div>
    {/loop}
</div>