<h1>
    <a href="/blog/view/{$content.id}">{$content.title}</a>
</h1>
<div>
    {$content.content}
</div>
<div class="article_menu">
    <b>Posted on {function="date('l d F Y G:i', strtotime($content.created_at))"}</b>
</div>

<div>
    <h2>Comments</h2>
    <div id='comments'>
        {loop="comments"}
        <div>
            <h3>
                {$value->author} / {$value->title} / {function="date('l d F Y G:i', strtotime($value->created_at))"}
            </h3>
            <div>
                {$value->content}
            </div>
        </div>
        {/loop}
    </div>
    <form action='/blog/comment' method="post" name='comment'>
        <input type='hidden' name='entry_id' value='{$content.id}' />
        <p>
            Your name:<br />
            <input type='text' name='author' />
        </p>
        <p>
            Your comment's title:<br />
            <input type='text' name='title' />
        </p>
        <p>
            Your comment:<br />
            <textarea name='content' style='width: 100%; height: 100px;'></textarea>
        </p>
        <p>
           <input type='submit' value='Comment' />
        </p>
    </form>
</div>